html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat,Helvetica Neue,Helvetica,arial,sans-serif;
  margin: -2;
  padding: 0;
  font-size: 1.5rem;
  /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
  /*background: linear-gradient(to left, #fceabb , #f8b500);*/
  background-color: white;
}


.appWrap{
  max-width: 640px;
  min-width:100vm;
  height: 90vh;
  margin: 0px;
  border: 5px solid black;

}

.areaSubmit {
  flex-direction: row;
  justify-content: space-between;
  max-height: 10%;
  min-height: 50px;
  padding: 3%;
  padding-bottom: 5%;
  margin-bottom: 2rem;

  background-color: #ecf0f1;
  color:rgba(0,0,0,0.5);
  
}

.areaSubmit h1 {
  color: rgba(0,0,0,0.6);
  font-size: 2.5rem;
  text-align: center;
}

i {
  color: rgba(0,0,0,0.5);
}

.areaContent {
  background:white;
  /*box-shadow:inset 0 3px 0 rgba(0,0,0,0.3);*/
  line-height: 1.6;
  max-height: 90%;
  overflow:hidden;
  width: 100%;
  padding-left: 0;
  

}

.areaContent ul {
  padding-left: 5%;
  padding-right: 5%;
}

.textWrap {
  position: relative;
  z-index: 0;
  background-color: #f3f3f3;
  /*border: 1px solid #efefef;*/
  border-radius: 3px;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*width: 100%;*/
  padding: 0 0px;
  flex: 3 2 auto;
  margin-left: 0px;

  background-color: #fff;
  border-bottom: 1px solid #efefef;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  font-size: 2rem;
}


.textWrapClick {
  position: relative;
  z-index: 0;
  border-radius: 3px;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 0px;
  /*background-color: #fff;*/
  /*background-color: #efbc4d;*/
  border-bottom: 2px solid orange;
  /*background-color: rgba(243, 156, 18, 0.7);*/
  /*border-bottom: 1px solid #efefef;*/
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  font-size: 2rem;

}


/*.textWrapOld {
  width: 85%;
  margin: auto;
  padding: 0px;
  padding-left: 10px;

  border: 1px solid #BDBDBD;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #888888;

  text-align: left;
  font-size: 1rem;
  color: #424242;

  overflow:hidden;
  text-overflow: ellipsis;
}

.textWrap .onclick{
  /*border: 4px solid #40C4FF;*/
  /*border: 4px solid #FF5A5F;*/
/*  border: 0.2rem solid #F39C12;
}

.textWrap .unclick {
  border: 1px solid #BDBDBD;
}*/

.areaOption {
  border-top:1px solid #E6E6E6;
  max-height: 10%;
  min-height: 70px;
  margin-top: 0px;
  background-color: #ecf0f1;
  /*margin-top: 3%;*/
}

.areaOption .buttonCalOpt {
  text-align: center;
  /*font-size: 50%;*/
  font-size: 1rem;
  border-left:1px solid rgba(0,0,0,0.1);
  /*background: #F1C40F;*/
  background-color: transparent;
  color:rgba(0,0,0,0.5);
  border-color: transparent;
}

.areaOption .buttonCalOpt:first-child {
  border-left: 0;
}

.areaOption .buttonCalOpt:hover {
  border-bottom: 5px solid rgba(0,0,0,0.1);
}


.areaOption i {
  display: block;
  font-size: 350%;
  color: rbga(0.6);
  /*text-shadow:3px 3px 0 rgba(0,0,0,0.1);*/
  /*padding-bottom: 1rem;*/
}


/*
  Everything So far is Cosmetic styling

  Flexbox + Important CSS Starts Here

*/

/* appWrap*/

.appWrap {
  display:flex;
  flex-direction:column;
}

.appWrap > * {
  flex:1 1 auto;
}

/*
  Header
*/

.areaSubmit {
  display:flex;
  justify-content: space-between;
  align-items: center;

}

/*
  Content
*/

.areaContent {
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}

.areaContent .box {
  flex: 1;
  min-height: 3.2rem;
}


/*
  Icon Bar
*/

.areaOption {
  display:flex;
  align-items: center;
  justify-content: center;
}

.areaOption .buttonCalOpt {
  flex:1;
}

/* submit button */
.buttonSubmit {
  border: none;
  background-color: transparent;
  color: rgba(0,0,0,0.6);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 2.5rem;
  /*cursor: pointer;*/
  /*box-shadow: 2px 2px rgba(0,0,0,0.4);*/
}


.buttonSignOut {
  border: none;
  background-color: transparent;
  color: black;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  margin: 4px 2px;
  font-size: 2.8rem;

}






