html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;

}

.cover {
  height: 100vh;
  max-width: 640px;
  margin: 0vh auto 0vh auto;
  box-shadow:0 0 50px  rgba(0,0,0,0.5);
  background: transparent;
  
/*  position: fixed;
  left: 0;
  right: 0;*/
  /*z-index: 9999;*/

}


h1 {
  color: rgba(0,0,0,0.7);
  font-size: 2.5rem;

}


/*
form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:30px;
  font-size: 1rem;
  border-radius:5px;
  outline:0;
  border:1px solid rgba(0,0,0,0.2);
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}*/


/*flex box properities*/

.cover {
  display: flex;
  flex-direction: column;

}

.cover > * {
  flex:1 1 auto;
}


.middle {
  background-color: transparent;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  background-color: #DD4C39;
  border: 1px solid #DD4C39;

  color:white;
  height: 45px;
  width: 70%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 1.5rem;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 5%;
  max-width: 280px;

}


.cover {
  background-image: url("./img/posterBG4.JPG");
  background-size: 80%;

}


/*.backgroundImage {
  /*position: center;*/
/*  left: 0;
  right: 0;*/

  /*z-index: 1;
  background-position: center;

  display: block;
  background-image: url("./img/posterBG1.JPG");
  background-size: 100%;

  background-repeat: no-repeat;
  width: 100vm;
  height: 100vh;
  transform: rotate(270deg);

  filter: blur(5px);

}
*/


/*.cover :: before {
  content: "";
  background-image: url("./img/posterBG1.JPG");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;

  display: block;
  width: 560px;
  height: 700px;
  z-index: -1;
  /*filter: grayscale(1);*/









