html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
  /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
  /*background: linear-gradient(to left, #fceabb , #f8b500);*/
  background-color: black;
}

.appWrap{
  max-width:540px;
  height: 100vh;
  margin: 0vh auto 0vh auto;
  box-shadow:0 0 50px  rgba(0,0,0,0.5);
  background: white;
  /*background-color: #F1C40F;*/
  /*background: linear-gradient(to bottom, #fceabb , #f8b500);*/
  /*background: #F1C40F;*/
}


img {
  height: 20rem;
  width: 20rem;
}

.appWrap {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

h1 {
  flex:1;
  font-size: 3rem;
  color: rgba(0,0,0,0.5);
}

.text {
  flex: 1;
  color:rgba(0,0,0,0.5);
  max-height: 10%;
  min-height: 50px;
}

.blink {
  font-size: 3rem;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
